<div class="laptopPart">
	<div class="container containerFluid">
	<h2 class="text-center h2Laptop">LAPTOPS</h2>
		<div class="col-md-4" ng-repeat="laptop in laptops | conditionss">
		
			<div class="thumbnail perLaptopHolder">
				<img ng-src="img/laptopFolder/{{laptop.img}}" />
				<h3 class="text-center"><i class="fa fa-laptop" aria-hidden="true"></i> {{laptop.name}}</h3>
				
				<div>
					<div ng-hide="showDetails == true">
						<h5 class="captionh4 text-center">{{laptop.description}}</h5>
					</div>
				</div>

				<button class="btn btn-xs btn-success" ng-hide="showDetails == true" ng-click="showDetails = !showDetails">Details</button>
				
				<div class="details" ng-show="showDetails == true">

					<div class="col-md-6 col-xs-6">
						<span><strong>CPU:</strong> {{laptop.details.cpu}}</span><br />
						<span><strong>OS:</strong> {{laptop.details.os}}</span><br />
					</div>

					<div class="col-md-6 col-xs-6">
						<span><strong>RAM:</strong> {{laptop.details.ram}}</span><br />
						<span><strong>HD:</strong> {{laptop.details.hd}}</span><br />
						<span><strong>Display size:</strong> {{laptop.details.displaySize}}</span><br />
						<span><strong>Price:</strong> {{laptop.price | currency}}</span><br />
					</div>	
										
				</div>

				<button class="btn btn-xs btn-danger" ng-show="showDetails == true" ng-click="showDetails = !showDetails">Close</button>
			</div>

		</div>
	</div>
</div>